body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  .login {
    margin-bottom: 2em;
  }
  
  .login input[type="text"] {
    padding: 0.5em;
    font-size: 1.5em;
    border: none;
    border-radius: 0.5em;
    width: 100%;
  }
  
  .login button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .login button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  .call {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  video {
    width: 40%;
    height: 40vh;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    margin: 1em;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  #users {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #users li {
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
  }
  
  #users li:last-child {
    border-bottom: none;
  }